* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #d9dcd6;
}

header{
    display: flex;
    justify-content: space-between;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    width: 100%;
    background: #501B1D; 
    color: #ADADAD;
    align-items: center;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 24px;
    padding: 8px;
    background: #2E1114;
    color: #83677B;
    font-size: 34px;
    text-decoration: underline;
}

